* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange;
  color: orange;
}

.wrapper {
  width: 400px;
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  padding: 25px 35px;
  margin: 0 24px 0 24px;
  position: relative;
}

svg {
  position: absolute;
  top: 4%;
  left: 4%;
  height: 42px;
  width: 42px;
  cursor: pointer;
  transition: all 0.3s;
}

svg:active {
  transform: scale(0.88);
}

.count {
  position: absolute;
  top: -6%;
  right: -8%;
  background-color: #222;
  padding: 6px 10px;
  border-radius: 8px;
  border: 1px solid orange;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
}

.coin {
  height: 128px;
  width: 128px;
  background-color: orangered;
  border-radius: 50%;
  border: 8px solid #f59f00;
  color: #f59f00;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 900;
  font-family: sans-serif;
  margin-top: 24px;
  text-shadow: -2px -2px 1px red;
  z-index: 999;
}

button {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: orange;
  border: none;
  color: #222;
  padding: 10px 20px;
  border-radius: 8px;
  margin-top: 24px;
  cursor: pointer;
}

button:active {
  background-color: #f08c00;
}

.bounce {
  animation: toss 0.8s linear;
}
@keyframes toss {
  0% {
    transform: scale(1) rotateX(0deg);
  }
  50% {
    transform: scale(1.5) rotateX(360deg);
  }
  100% {
    transform: scale(1) rotateX(0deg);
  }
}
